# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# Environment variables
.env

# Test / coverage
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db